/* Add your global styles here */
ion-content {
  background-color: #f8f8f8; /* Set the background color */
}

ion-card {
  margin: 20px; /* Add some margin around the cards */
  border-radius: 15px; /* Add rounded corners to the cards */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

#image {
  width: 100%; /* Make images fill the entire width of the card */
  height: 200px; /* Set a fixed height for the images in the cards */
  object-fit: cover; /* Maintain aspect ratio while covering the entire space */
  border-radius: 15px 15px 0 0; /* Round the top corners of the image */
}

#description {
  font-size: 16px; /* Adjust font size for description */
  margin-top: 15px; /* Add some space above the description */
}

ion-row {
  justify-content: space-around; /* Space out items in the row */
}

ion-col {
  padding: 15px; /* Add padding to columns */
}


.tab-button {}
  
ion-tabs {
  ion-fab {
    margin-bottom: env(safe-area-inset-bottom);
    /* fix notch ios */
    ion-fab-button {
      --box-shadow: none;
      --background: linear-gradient(
        90deg,
        #ce55b0,
        #f34dac 12%,
        #f48e66 27%,
        #f0b832 38%,
        #b2ce37 54%,
        #63d7af 70%,
        #1cc2df 84%,
        #0580e6 94%,
        #ce55b0
      );
      ion-icon {
        font-size: 60px;
        color: linear-gradient(
          90deg,
          #ce55b0,
          #f34dac 12%,
          #f48e66 27%,
          #f0b832 38%,
          #b2ce37 54%,
          #63d7af 70%,
          #1cc2df 84%,
          #0580e6 94%,
          #ce55b0
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  ion-tab-bar {
    --border: 0;
    --background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    &:after {
      content: " ";
      width: 100%;
      bottom: 0;
      background: var(--ion-color-light);
      height: env(safe-area-inset-bottom);
      position: absolute;
    }
    ion-tab-button {
      --background: var(--ion-color-light);
    }
    ion-tab-button.comments {
      margin-right: 0px;
      border-top-right-radius: 18px;
    }
    ion-tab-button.notifs {
      margin-left: 0px;
      border-top-left-radius: 18px;
    }
    svg {
      width: 72px;
      margin-top: 19px;
      path {
        fill: var(--ion-color-light);
      }
    }
  }
}